<%= form_with(model: @field, url: admin_fields_path, method: :post) do |form| %>
  <div>
    <div class="form-group">
      <input name="name" type="text" class="form-control" placeholder="Enter name">
    </div>
    <div class="form-group">
      <textarea name="description" type="text" class="form-control" placeholder="Enter description" rows="4"></textarea>
    </div>
    <div class="form-group">
      <input name="phone_number" type="number" class="form-control" placeholder="Enter phone number">
    </div>
    <div class="form-group">
      <input name="address" type="text" class="form-control" placeholder="Enter address">
    </div>
    <span class="image p-0 my-2">
      <%= form.file_field :image, class: "p-0 m-0"%>
    </span>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary"><%= t("admin.field.create") %></button>
    </div>
  </div>
<% end %>
